body{
    font-size: 24px;
    background: black;
    color: aliceblue;
}

div{
    margin: auto;
    margin-bottom: 20px;
    width: 40%;
    font-weight: 200;
}

span{
    font-style: italic;
}

h2{
    margin-top: 10%;
}

h4{
    margin-bottom: 3%;
    font-style: italic;
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif
}

