body{
    background: black;    
    color: aliceblue;
    font-size: 24px;
}

div{
    width: 40%;
    margin: 30%;
    margin-top: 20px;
    font-style: italic;
}

h3{
    margin-top: 10%;
    text-align: center;
}
